<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'extractmed/css/bootstrap.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form action="" method="POST" novalidate>
          {% csrf_token %} {% for fm in form %}
          <div class="form-group">
            {{fm.label_tag}} {{fm}}
            <small class="text-warning">{{fm.errors|striptags}}</small>
          </div>
          {% endfor %}
          <input type="submit" class="btn btn-primary" value="submit" />
        </form>
      </div>
    </div>

    <script src="{% static 'extractmed/js/jquery.js'%}"></script>
    <script src="{% static 'extractmed/js/popper.js'%}"></script>
    <script src="{% static 'extractmed/js/bootstrap.js'%}"></script>
  </body>
</html>
